<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=______SQL-SERVER-URL______;Initial Catalog=______SQL-SERVER-DATABASE-NAME______;Persist Security Info=True;User ID=______SQL-SERVER-USER-NAME______;Password=______SQL-SERVER-USER-PASSWORD______" providerName="System.Data.SqlClient" />
    <add name="CO5027ConnectionString" connectionString="Data Source=______SQL-SERVER-URL______;Initial Catalog=______SQL-SERVER-DATABASE-NAME______;Persist Security Info=True;User ID=______SQL-SERVER-USER-NAME______;Password=______SQL-SERVER-USER-PASSWORD______" providerName="System.Data.SqlClient" />
    <add name="db_1417800_CO5027Entities" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=______SQL-SERVER-URL______;initial catalog=______SQL-SERVER-DATABASE-NAME______;persist security info=True;user id=______SQL-SERVER-USER-NAME______;password=______SQL-SERVER-USER-PASSWORD______;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseCO5027Entities" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=______SQL-SERVER-URL______;initial catalog=______SQL-SERVER-DATABASE-NAME______;persist security info=True;user id=______SQL-SERVER-USER-NAME______;password=______SQL-SERVER-USER-PASSWORD______;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authorization>
      <allow users="*"/>
    </authorization>
    <authentication mode="None">
    </authentication>
  </system.web>

  <location path="user">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="______CLIENT-ID-HERE______" />
      <add name="clientSecret" value="______CLIENT-SECRET-HERE______" />
    </settings>
  </paypal>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>