@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', Helvetica, Airel, sans-serif;
}
a {
  color: #08f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.current {
  background-color: #333;
}
p {
  margin-bottom: 10px;
  padding-left: 10px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 15px;
}
h2 {
  margin-top: 12px;
  margin-bottom: 10px;
  padding-left: 15px;
}
h3 {
  margin-top: 8px;
  margin-bottom: 10px;
  padding-left: 5px;
}
textarea,
input {
  font-family: 'Roboto', Helvetica, Airel, sans-serif;
  transition: background-color linear 0.15s;
  padding: 5px;
  display: block;
  width: 100%;
}
textarea:focus,
input:focus {
  background-color: #fafafa;
}
textarea {
  height: 250px;
}
header {
  background-color: #222;
  color: #fff;
  font-family: 'Roboto', Helvetica, Airel, sans-serif;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a img {
  vertical-align: middle;
  padding: 10px;
}
header a h1 {
  vertical-align: middle;
  color: #fff;
  display: inline;
  padding-top: 15px;
  padding-left: 0;
}
header nav.main ul {
  display: inline-block;
  width: 100%;
}
header nav.main ul li {
  list-style: none;
}
header nav.main ul li a {
  display: block;
  padding: 10px 15px;
}
header nav.main ul li a:hover {
  text-decoration: none;
  background-color: #333;
}
.photos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.photos .item {
  margin: 5px;
  flex-grow: 1;
  flex-basis: 300px;
}
.photos .item figure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  position: relative;
  overflow: hidden;
}
.photos .item figure img {
  display: block;
  width: 100%;
  height: auto;
}
.photos .item figure figcaption {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  color: white;
  padding: 10px 20px;
  opacity: 0;
  bottom: 0;
}
.photos .item figure figcaption span {
  padding-right: 35px;
  float: right;
}
.photos .item figure:hover figcaption {
  opacity: 1;
  left: 0;
}
section div {
  margin: 20px;
  margin-bottom: 30px;
}
.columns.two {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background-color: #222;
  color: #fff;
  font-family: 'Roboto', Helvetica, Airel, sans-serif;
  width: 100%;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .copyright {
  text-align: center;
  padding: 15px;
}
footer nav.validation {
  text-align: center;
  padding: 15px;
  background-color: #2f2f2f;
}
footer nav.validation h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}
footer nav.validation li {
  list-style: none;
  display: inline-block;
}
footer nav.validation li a {
  display: block;
  padding: 8px 14px;
  border-radius: 3px;
}
footer nav.validation li a:hover {
  text-decoration: none;
  background-color: #3c3c3c;
}
@media (max-width: 320px) {
  header nav.main ul li:first-of-type a {
    margin-top: 10px;
  }
  header nav.main ul li:last-of-type a {
    margin-bottom: 10px;
  }
}
@media (min-width: 320px) {
  header nav.main ul {
    text-align: center;
  }
  header nav.main ul li {
    display: inline-block;
  }
  header nav.main ul li a {
    display: block;
    padding: 12px 20px;
  }
}
@media (min-width: 500px) {
  footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  footer .copyright {
    padding: 12px 20px;
  }
  footer nav.validation {
    padding: 5px 20px;
    float: right;
  }
  footer nav.validation h3,
  footer nav.validation ul {
    display: inline-block;
  }
}
@media (min-width: 710px) {
  header nav.main {
    display: inline-block;
  }
  header nav.main ul {
    text-align: right;
  }
  .columns.two {
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 600px;
  }
}